name: Terraform Tag
on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
    branches:
      - main

permissions:
  contents: write
jobs:
  terraform-tag:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: actionsforge/actions/.github/workflows/terraform-tag.yml@main
